body{
        width: 300px;
        height: 650px;
        margin: 0 auto;
    }
    #box2{
        border:  solid rgb(100, 95, 95) 0.5px ; 
        width: 300px;
        height: 580px;
        margin-top: 20px;
    }
    .str{
        font-weight: bolder;
        text-align: left;
        margin-left: 15px;
        font-size: 12px;
        margin-bottom: 0px;
    }
    input{
        margin-left: 10px;
        width: 272px;
        border: 0.2;
    }
    input[type=input]:focus {
    background-color: rgb(206, 227, 234);
    border: 3px solid rgb(237, 193, 111);
    
    }
    span{
        margin-left: 36px;
        font-size: 10px;
    }
    h1{
        font-weight: normal;
        font-size: 25px;
        color: red;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    h2{
        font-weight: normal;
        margin-left: 15px;
        font-size: 26px;
        font-weight: bold;
    }
    .change{
        margin: 10px 10px;
        width: 280px;
        background-image: -webkit-linear-gradient(rgb(238, 222, 192) 1.01%,rgb(232, 170, 76),rgb(183, 145, 87) 100%);
        border: none;
    }
    button:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .char{
        font-size: 10.5px;
        width: 280px;
        margin: 6px 10px 0 10px;
        height: 60px;
        border-bottom: 1px solid rgb(98, 95, 95)  ;
        
    }   
    .char a{
        text-decoration: none;
    }
    .char a:hover{
        text-decoration:underline;
        color: rgb(159, 1, 1);
    }
    .text{
        font-size: 10.5px;
        width: 280px;
        margin: 6px 10px 0 10px;
        
    }   
    .text a{
        text-decoration: none;
    }
    .text a:hover{
        text-decoration:underline;
        color: rgb(159, 1, 1);
    }
    .action{
		display:block;
}
    .action p,.action input,.action label,p{
        margin: 0 0 0 10px;
        display: inline-block;
    }
    .action label{
        width: auto;
        height: auto;
        margin: 5px 0 0 10px;
    }
    .action input{
        width: auto;
	        height: auto;
	    }
    .date{
		width:auto;
}
    #date{
        width: 120px;
        margin: 10px 0;
    }
    #spouse-select{
		margin-left: 10px;	
}